/* マージン、パディング */

$narrow: 2px;  /*狭い*/
$moderate: 6px; /*適度*/
$wide: 10px; /*広い*/
$very_wide: 20px; /*非常に広い*/

/* フォントサイズ */

$tiny: 8px; /*とても小さい*/
$small: 10px; /*小さい*/
$normal: 12px; /*標準*/
$large: 16px; /*大きい*/
$huge: 20px; /*とても大きい*/

/* 行の高さ */

$standard_line_height: 16px;
